<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE&ME</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo">
                    <a href="/"><img alt="Logo" src="~/images/logo.png" class=" img-logo" data-text-logo="Mimity Online Shop"></a>
                </div>
                <div class="col-sm-8 col-md-6 search-box m-t-2">
                    <form asp-controller="Filter" asp-action="Index" method="post">
                        <div class="input-group" style="display:none;" >
                            <input type="text" name="expresion" class="form-control search-input" aria-label="Buscar producto..." placeholder="Buscar..." autocomplete="off">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 col-md-3 cart-btn hidden-xs m-t-2">
                    <button type="button" class="btn btn-default dropdown-toggle" id="dropdown-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-shopping-cart"></i> Mi carrito : <span id="dropdownCartTotalArticulos">0</span> artículos <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-cart">
                        <div id="ComboboxCartPanel">

                        </div>


                        <div class="subtotal-cart">Total: <span id="subtotalCart">$00.00</span></div>
                        <div class="text-center">
                            <div class="btn-group" role="group" aria-label="View Cart and Checkout Button">
                                <button class="btn btn-default btn-sm" type="button" onclick="location.href = '/Checkout/Cart';" ><i class="fa fa-shopping-cart"></i> Mi Carrito</button>
                                <button class="btn btn-default btn-sm" type="button" onclick="location.href = '/Checkout/Buy';" ><i class="fa fa-check"></i> Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default shadow-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="cart.html" class="btn btn-default btn-cart-xs visible-xs pull-right">
                    <i class="fa fa-shopping-cart"></i> Cart : 4 items
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                <ul id="ulMainMenu" class="nav navbar-nav">
                    <li class="li-inicio"><a href="~/">Inicio</a></li>
                    <li class="li-gallery" ><a href="~/Gallery/">Cases</a></li>
                    <li class="li-checkout" ><a href="~/Checkout/Cart" asp-action="Cart">Mi Carrito</a></li>
                    <li class="li-personalizador" ><a href="~/Personalizador/">Personalizador</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right navbar-feature visible-lg">
                    <li><a><i class="fa fa-truck"></i> Envíos Seguros</a></li>
                    <li><a><i class="fa fa-lock"></i> Pagos Seguros</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <hr />
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="title-footer"><span>Nuestra Sucursal</span></div>
                    <ul class="footer-icon">
                        <li><span><i class="fa fa-map-marker"></i></span> Moisés Sáenz #419 L-1 Mitras Centro</li>
                        <li><span><i class="fa fa-phone"></i></span> 01 81 1908 9798</li>
                        <li><span><i class="fa fa-envelope"></i></span> <a href="ventas@caseandme.com">ventas@caseandme.com</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="title-footer"><span>Informacion</span></div>
                    <ul>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Preguntas frecuentas</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Politicas de Privacidad</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Terminos y Condiciones</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Metodos de envio</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6">
                    <div class="title-footer"><span>Metodos de pago</span></div>
                    <p>Aceptamos los siguientes métodos de pago, en base a tu país/región de facturación y a la moneda en la que deseas pagar.</p>
                    <img src="~/images/payment-1.png" alt="Payment-1">
                    <img src="~/images/payment-2.png" alt="Payment-2">
                    <img src="~/images/payment-3.png" alt="Payment-3">
                    <img src="~/images/payment-4.png" alt="Payment-4">
                    <img src="~/images/payment-5.png" alt="Payment-5">
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="title-footer"><span>Siguenos</span></div>
                    <p>Comunicate con nsosotros en nuestras redes sociales </p>
                    <ul class="follow-us">
                        <li><a href="https://www.facebook.com/CaseAndMe/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
            

        </div>
        <div class="text-center copyright">
            Copyright © @DateTime.Now.Year CASE&ME
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
