<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE&ME</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        

        @@media (min-width: 768px) {
            .wrapper {
                display: flex;
                align-items: stretch;
            }

            #sidebar {
                min-width: 250px;
                max-width: 250px;
                min-height: 96vh;
            }

                #sidebar.active {
                    margin-left: -250px;
                }

            .navbar-collapse {
                height: auto;
                border-top: 0;
                box-shadow: none;
                max-height: none;
                padding-left: 0;
                padding-right: 0;
            }

                .navbar-collapse.collapse {
                    display: block !important;
                    width: auto !important;
                    padding-bottom: 0;
                    overflow: visible !important;
                }

                .navbar-collapse.in {
                    overflow-x: visible;
                }

            .navbar {
                max-width: 300px;
                margin-right: 0;
                margin-left: 0;
            }

            .navbar-nav,
            .navbar-nav > li,
            .navbar-left,
            .navbar-right,
            .navbar-header {
                float: none !important;
            }

                .navbar-right .dropdown-menu {
                    left: 0;
                    right: auto;
                }

            .navbar-collapse .navbar-nav.navbar-right:last-child {
                margin-right: 0;
            }
        }
        .footer {
            font-size: 13px;
             margin-top: 0px; 
            color: #777;
            background-color: #e7e7e7;
        }
        .navbar {
             margin-bottom: 0px; 
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">CASE&ME</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="~/Dashboard/">Dashboard</a></li>
                        <li><a href="~/Item/">Producto</a></li>
                        <li><a href="~/Inventory/">Inventario</a></li>
                        <li><a href="~/Category/">Categoria</a></li>
                        <li><a href="~/SubCategory/">SubCategoria</a></li>
                        <li><a href="~/Device/">Dispositivo</a></li>
                        <li><a href="~/Material/">Material</a></li>
                        <li><a href="~/OrdenVenta/">Orden de Venta</a></li>
                        @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>*@
                    </ul>
                    
                    
                </div><!-- /.navbar-collapse -->
            </nav>
        </nav>



        <!-- Page Content -->

        @RenderBody()


    </div>
    <div class="footer">
        <div class="container">
        </div>
        <div class="text-center copyright">
            Copyright © @DateTime.Now.Year CASE&ME
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
