@model CaseAndMeWeb.Models.ApplicationUser

@{
    ViewBag.Title = "Deliver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container m-t-3">
    <div class="row">

        <!-- Mi lista de compras -->
        <ol class="progress-step">
            <li data-step="1">
                Mi Carrito
            </li>
            <li data-step="2" class="is-active">
                Datos de envío
            </li>
            <li data-step="3">
                Realizar Pago
            </li>
            <li data-step="4" class="progress__last">
                Confirmación
            </li>
        </ol>

        <div class="title"><span>Datos de envío</span></div>
        <div class="col-md-12">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nombre(s)</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Nombre, new { placeholder = "Nombre(s)", @class = "form-control", required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Apellido(s)</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.PrimerApellido, new { placeholder = "Apellido(s)", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Direccion, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Telefono, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Colonia, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Colonia, new { @class = "form-control" })
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">País</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("Paises", ViewBag.Paises as List<SelectListItem>, "Seleccione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Estado, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Estados", ViewBag.Estados as List<SelectListItem>, "Seleccione...", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Ciudad, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Ciudad, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.CP, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.CP, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





            }
        </div>
        <nav aria-label="Shopping Cart Next Navigation">
            <ul class="pager">
                <li class="previous"><a href="~/Checkout/Cart"><span aria-hidden="true">←</span> Regresar</a></li>
                <li class="next"><a href="~/Checkout/Pay" onclick="return processDeliver();">Realizar Pago <span aria-hidden="true">→</span></a></li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#ulMainMenu .li-checkout").addClass("active");
            $("#Paises").change(function () {
                cargaEstados($(this).val())
            });

        });

        function cargaEstados(idPais) {
            $.get("/Checkout/Deliver/getEstados?idPais=" + idPais, function (data) {

                console.log(data);
            });
        }
    </script>
    }