@model RangePriceFilter
@for (int i = 0; i < Model.RangesFilters.Count; i++)
{
    <ul>
        <li>
            <input asp-for="@Model.RangesFilters[i].Selected" type="checkbox" onclick="submit()" style="display:initial"/>
            <input asp-for="@Model.RangesFilters[i].Value.MinPrice" type="text" /> - <input asp-for="@Model.RangesFilters[i].Value.MaxPrice" type="text" />            
            (@Html.ValueFor(m => m.RangesFilters[i].Matched))
            
            @*Inputs Escondidos*@
            <input asp-for="@Model.RangesFilters[i].Matched" type="hidden" />
            <input asp-for="@Model.RangesFilters[i].Selected" type="hidden" />
        </li>
    </ul>
}
